.textdecor{
    overflow: hidden;
}
.seller-best{
    width: 4%;
}
.card .bestProductName{
    background-color: white;
    content: "";
    display: block;
    width: 100%;
    height: 0.5px;
    margin-top: 5px;
}
  
.card:hover .bestProductName:after {
    content: "";
    display: block;
    width: 100%;
    height: .010rem;
    background-color: #114c36;
    margin-top: 5px;
  }
 
  .sale-badge {
    top: 10px;
    left: 10px;
    z-index: 1;
  }