.img{
    background-image: url(../../../assets/summerpot.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
  }
  .img1{
    background-image: url(../../../assets/envdayDesktop-Banner.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%
  }
  .img2{
    background-image: url(../../../assets/plantcaresummer.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%
  }
  .img3{
    background-image: url(../../../assets/summerplant.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%
  }
  .custom-carousel{
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #149253; /* green */
    border: none;
    border-radius: 40%;
    width: 40px;
    height: 50px;
    margin: 15px;
    top: 50%;
    opacity: 1;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    font-size: 20px;
    color: #eb0808;
  }
}
  /* .plants-category{
    overflow-y: hidden;
  } */
  .plantImg{
    margin: 0 auto 5px;
    border: 3px solid #e3b4d5;
    width: 120%;
    border-radius: 50%;
  }
  @media (max-width:992px) {
    .plantImg{
      width: 100%; 
    }
    .plants-category{
      font-size: .8rem;
    }
  }
  .bg-register{
    background-color: rgb(239,248,242);
  }
  .bextpick{
    width: 100%;
  }
  .textdecor{
    text-decoration: none;
    color: #151515;
    
  }
  .bestimg{
    overflow: hidden;
  }
  .bextpick {
    transition: transform 0.5s; /* add transition effect */
  }
  
  .bextpick:hover {
    transform: scale(1.05); /* zoom in by 20% */
  }