*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit';
}
.primarycolor {
  color: #114c36;
}
.bgprimary{
  background-color: rgb(20,146,83);
}
.point12px {
  font-size: 0.8rem;
}
.fwbold {
  font-weight: 600;
}
.nolink{
  text-decoration: none;
color: black;
}