*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit';
}
.primarycolor {
  color: #114c36;
}
.bgprimary{
  background-color: rgb(20,146,83);
}
.point12px {
  font-size: 0.8rem;
}
.fwbold {
  font-weight: 600;
}
.nolink{
  text-decoration: none;
color: black;
}
.planter-options {
  display: flex;
}

.planter-option {
  cursor: pointer;
  color: #114c36;
  border: 1px solid #114c36;
  padding: 6px;
  margin-right: 8px;
  border-radius: 5px;

  transition: box-shadow 0.3s ease-in;
}
.planter-option:hover {
  box-shadow: 0 0 0 1.5px #114c36 inset;
}
.color-options {
  margin-top: 10px;
}

.color-option {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.color-swatch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #ddd;
}

.add-cart-btn{
  width: 61%;
}
.noOfProduct{
  width: 10%;
}
.buy-it{
width: 86%;
}
.minus-circle, .plus-circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #ddd;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out; 
}

.minus-circle:hover, .plus-circle:hover {
  background-color: #171717; 
  color: #ddd;
}

.minus-sign, .plus-sign {
  font-size: 18px;
  font-weight: bold;
}
