* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}
.primarycolor {
  color: #114c36;
}
.bgprimary {
  background-color: rgb(20, 146, 83);
}
.point12px {
  font-size: 0.8rem;
}
.fwbold {
  font-weight: 600;
}
.nolink {
  text-decoration: none;
  color: black;
}
.imgHero {
  height: 45vh;
  width: 100%;
}
.seed-text{
  text-decoration: underline;
  text-decoration-color: #a9a9a9;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.seed-text:hover{
  text-decoration: underline;
  text-decoration-color: #000000;
  text-decoration-thickness: 1px;
}
.planter-options {
  display: flex;
}

.planter-option {
  cursor: pointer;
  color: #114c36;
  border: 1px solid #114c36;
  padding: 6px;
  margin-right: 8px;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in;
}
.planter-option:hover {
  box-shadow: 0 0 0 1.5px #114c36 inset;
}
.planter-option {
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
.planter-option.selected {
  border-color: #114c36;
  font-weight: bold;
}
.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  margin-bottom: 2px;
  padding-bottom: 4px;
  border: 1px solid #114c36;
  border-radius: 50%;
}

.color-radio {
  appearance: transparent;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.4s ease-in;
}
.color-radio:hover {
  transform: scale(1.2);
}
.color-radio:checked + .color-swatch-label {
  border: 2px solid #000;
}
.add-cart-btn {
  width: 61%;
}
.noOfProduct {
  width: 10%;
}
.buy-it {
  width: 86%;
}
.minus-circle,
.plus-circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #ddd;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.minus-circle:hover,
.plus-circle:hover {
  background-color: #171717;
  color: #ddd;
}

.minus-sign,
.plus-sign {
  font-size: 18px;
  font-weight: bold;
}
.productPot-carousel {
  .carousel-control-prev {
    right: 80px;
    left: auto;
  }

  .carousel-control-next {
    right: 10px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 15px;
    top: 90%;
    opacity: 1;
  }

  .custom-prev-icon,
  .custom-next-icon {
    font-size: 20px;
    color: #000000;
  }

  @media (max-width: 767px) {
    .carousel-control-prev,
    .carousel-control-next {
      top: 80%;
      width: 30px;
      height: 30px;
    }

    .carousel-control-prev {
      right: 60px;
      left: auto;
    }

    .carousel-control-next {
      right: 15px;
    }
  }
}
.social-media-link a span {
  text-decoration: underline;
  text-decoration-color: #a9a9a9;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.social-media-link a span:hover {
  text-decoration: underline;
  text-decoration-color: #000000;
  text-decoration-thickness: 1px;
}
